<footer class="site-footer">
  <small>
    Site criado com <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>.
    Código fonte no <a href="{{ pkg.repository.url }}" target="_blank">GitHub</a>.
  </small>
</footer>
